@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import "~normalize.css";

@import "logo.css";
@import "header.css";
@import "nav.css";
@import "toolbar.css";
@import "button.css";
@import "formula.css";
@import "table.css";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
}

.container {
  padding: 0 20px 0 20px;
}