
.nav__list {
  list-style-type: none;
  margin-left: 16px;
  cursor: pointer;
}

.nav__item {
  display: inline-block;
  padding: 6px;
  border-radius: 3px;
  font-size: 13px;
  margin-left: 6px;
}

.nav__item:hover {
  background-color: #f0f0f0;
}